;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds {}
 ;; {:scherz {:target :node-library
;;           :output-to "out/scherz/lib.js"
;;           :exports {:generate scherz.exports/generate
;;                     :scales scherz.exports/scales}}}
}

