;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[org.clojure/math.combinatorics "0.1.6"]]

 :builds {:scherz {:target :node-library
           :output-to "out/scherz/lib.js"
           :exports {:util scherz.exports/util
                     :brightness scherz.exports/brightness
                     :dissonance scherz.exports/dissonance
                     :generate scherz.exports/generate}}}}

